{:name :template-1
 :holes {:even [{:name :image-text-scaled
                 :height 40.0
                 :width 80.0
                 :x 10.0
                 :y 10.0
                 :type :image
                 :aspect :fit
                 :priority 1}

                {:name :text-text-scaled
                 :height 40.0
                 :width 80.0
                 :x 10.0
                 :y 10.0
                 :type :text
                 :align {:horizontal :center
                         :vertical :center}
                 :format {:font :regular
                          :style #{:regular}
                          :size 12
                          :color [0 0 0]
                          :indent {:all 0}
                          :spacing {:paragraph {:below 0
                                                :above 0}
                                    :line {:below 0
                                           :above 0}}}
                 :priority 2}

                {:name :image-text-reference
                 :height 40.0
                 :width 80.0
                 :x 10.0
                 :y 50.0
                 :type :image
                 :aspect :fit
                 :priority 1}

                {:name :text-reference-size
                 :height 40.0
                 :width 80.0
                 :x 10.0
                 :y 50.0
                 :type :text
                 :align {:horizontal :center
                         :vertical :center}
                 :format {:font :regular
                          :style #{:regular}
                          :size 12
                          :color [0 0 0]
                          :indent {:all 0}
                          :spacing {:paragraph {:below 0
                                                :above 0}
                                    :line {:below 0
                                           :above 0}}}
                 :priority 2}]
         :odd [{:name :image-text-scaled
                :height 40.0
                :width 80.0
                :x 10.0
                :y 10.0
                :type :image
                :aspect :fit
                :priority 1}

               {:name :text-text-scaled
                :height 40.0
                :width 80.0
                :x 10.0
                :y 10.0
                :type :text
                :align {:horizontal :center
                        :vertical :center}
                :format {:font :regular
                         :style #{:regular}
                         :size 12
                         :color [0 0 0]
                         :indent {:all 0}
                         :spacing {:paragraph {:below 0
                                               :above 0}
                                   :line {:below 0
                                          :above 0}}}
                :priority 2}

               {:name :image-text-reference
                :height 40.0
                :width 80.0
                :x 10.0
                :y 50.0
                :type :image
                :aspect :fit
                :priority 1}

               {:name :text-reference-size
                :height 40.0
                :width 80.0
                :x 10.0
                :y 50.0
                :type :text
                :align {:horizontal :center
                        :vertical :center}
                :format {:font :regular
                         :style #{:regular}
                         :size 12
                         :color [0 0 0]
                         :indent {:all 0}
                         :spacing {:paragraph {:below 0
                                               :above 0}
                                   :line {:below 0
                                          :above 0}}}
                :priority 2}]}}
