{:name :template-2
 :overflow :template-2
 :holes [{:name :one
          :height 300.0
          :width 200.0
          :x 10.0
          :y 400.0
          :type :text-parsed
          :format {:paragraph {:font :open-sans
                               :style #{:regular}
                               :size 12
                               :color [0 0 0]
                               :indent {:all 0}
                               :spacing {:paragraph {:below 0
                                                     :above 0}
                                         :line {:below 0
                                                :above 0}}}
                   :head-1 {:font :helvetica
                            :style #{:bold}
                            :size 24
                            :color [0 0 0]
                            :indent {:all 0}
                            :spacing {:paragraph {:below 0
                                                  :above 0}
                                      :line {:below 0
                                             :above 0}}}
                   :head-2 {:font :helvetica
                            :style #{:italic}
                            :size 18
                            :color [0 10 10]
                            :indent {:all 0}
                            :spacing {:paragraph {:below 0
                                                  :above 0}
                                      :line {:below 0
                                             :above 0}}}
                   :head-3 {:font :helvetica
                            :style #{:regular}
                            :size 16
                            :color [20 20 20]
                            :indent {:all 0}
                            :spacing {:paragraph {:below 0
                                                  :above 0}
                                      :line {:below 0
                                             :above 0}}}
                   :bullet {:font :open-sans
                            :style #{:regular}
                            :size 12
                            :color [0 0 0]
                            :indent {:all 0}
                            :bullet-char "-"
                            :spacing {:paragraph {:below 0
                                                  :above 0}
                                      :line {:below 0
                                             :above 0}}}
                   :number {:font :times
                            :style #{:regular}
                            :size 12
                            :color [0 0 0]
                            :indent {:all 0}
                            :spacing {:paragraph {:below 0
                                                  :above 0}
                                      :line {:below 0
                                             :above 0}}}}
          :priority 1}

         {:name :two
          :height 28.8
          :width 198.7
          :x 49.7
          :y 347.0
          :type :text
          :priority 2
          :align {:horizontal :center
                  :vertical :center}
          :format {:font :times
                   :style #{:bold :italic}
                   :size 24
                   :color [0 0 0]
                   :indent {:all 0}
                   :spacing {:paragraph {:below 0
                                         :above 0}
                             :line {:below 0
                                    :above 0}}}}]}
