{:name :template-1
 :only-on {:pages :even}
 :holes [{:name :centered-image
          :height 50.0
          :width 80.0
          :x 10.0
          :y 10.0
          :type :image
          :aspect :fit
          :priority 1}

         {:name :centered-text
          :height 50.0
          :width 80.0
          :x 10.0
          :y 10.0
          :type :text
          :align {:horizontal :left
                  :vertical :center}
          :format {:font :times
                   :style #{:regular}
                   :size 12
                   :color [0 0 0]
                   :indent {:all 0}
                   :spacing {:paragraph {:below 0
                                         :above 0}
                             :line {:below 0
                                    :above 0}}}
          :priority 2}

         {:name :top-image
          :height 50.0
          :width 80.0
          :x 10.0
          :y 70.0
          :type :image
          :aspect :fit
          :priority 1}

         {:name :top-text
          :height 50.0
          :width 80.0
          :x 10.0
          :y 70.0
          :type :text
          :align {:horizontal :left
                  :vertical :top}
          :format {:font :times
                   :style #{:regular}
                   :size 12
                   :color [0 0 0]
                   :indent {:all 0}
                   :spacing {:paragraph {:below 0
                                         :above 0}
                             :line {:below 0
                                    :above 0}}}
          :priority 2}

         {:name :bottom-image
          :height 50.0
          :width 80.0
          :x 10.0
          :y 130.0
          :type :image
          :aspect :fit
          :priority 1}

         {:name :bottom-text
          :height 50.0
          :width 80.0
          :x 10.0
          :y 130.0
          :type :text
          :align {:horizontal :left
                  :vertical :bottom}
          :format {:font :times
                   :style #{:regular}
                   :size 12
                   :color [0 0 0]
                   :indent {:all 0}
                   :spacing {:paragraph {:below 0
                                         :above 0}
                             :line {:below 0
                                    :above 0}}}
          :priority 2}]}
